/* Colores */

$main-color: #fb088c;
$secondary-color: #fbeae9;
$menu-color: #282828;
$black-color: #212222;
$white-color: #ffffff;

$error-color: #df1f1f;
$error-color-back: #FFCACA;
$okey-color: #26d13f;
$okey-color-back: #CDFFD4;
$caution-color: #ffcd04;
$caution-color-back: #FFF4C7;

$border-color: #909090;
$light-text-color: #c7c7c7;
$background-color: #f3f4f5;

/* Tipo */

$h1-size-mobile: 50px;
$h2-size-mobile: 28px;
$h3-size-mobile: 24px;
$p-size-big-mobile: 18px;
$p-size-mobile: 16px;
$links-sm-size-mobile: 12px;
$links-size-mobile: 18px;

$h1-size-desktop: 150px;
$h2-size-desktop: 60px;
$h3-size-desktop: 45px;
$p-size-big-desktop: 35px;
$p-size-desktop: 24px;
$links-sm-size-desktop: 18px;
$links-size-desktop: 35px;

$hs-weight: 700;
$ps-weight: 400;

/* Estructuras */

$btn-size-mobile-xl: 0.5rem 8rem;
$btn-size-desktop-xl: 0.5rem 10rem;
$btn-size-mobile-l: 0.5rem 6rem;
$btn-size-desktop-l: 0.5rem 8rem;
$btn-size-mobile-s: 0.8rem 1rem;
$btn-size-desktop-s: 0.5rem 4rem;
$btn-size-mobile-s-v2: 0.6rem 1rem;
$btn-size-desktop-s-v2: 0.5rem 4rem;
$btn-size-mobile-m: 0.5rem 3rem;
$btn-size-desktop-m: 0.5rem 8rem;
$box-radious-mobile-l: 0.2rem;
$box-radious-mobile-xs: 0.3rem;
$box-radious-mobile-xl: 0.5rem;
